/********** Template CSS **********/
:root {
    --primary: #A1011F;
    --light: #F1F8FF;
    --dark: #a1011eef;
    --secondary: #9c2137;
}

.ff-secondary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* Select - Dropdown */
#select {
    background-color: #bad9fd;
    border: #ddebfc 3px solid;
    border-radius: 10px;
    padding: 7px 10px 7px;
}

#select2{
    background-color: #bad9fd;
    border-radius: 10px;
    border: #bad9fd 3px solid;
    padding: 5px 10px 5px;
}

#label {
    color: #000;
}

#label2{
    color: #000;
    width: 100%;
}

/* */
ol li .aactiva{
    color: #A1011F;
}

/* Brechas */
.grid-container > * {
    padding: 5%;
    text-align: center;
}

.grid-container{
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: 10% 15% 10% 17% 8% 10% 8% 9% auto;
    grid-template-rows: 11% 18% 10% 10% 19% 15%;
}

.grid-1{
    grid-column: 1 / span 3;
    background-color: #fff;
}

.grid-2{
    grid-column: 4 / span 3;
    background-color: #fff;
}

.grid-3{
    background-color: #fff;
}

.grid-4{
    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
    background-color: #fff;
}

.grid-4 .row{
    padding: 5%;
}

.grid-5{
    grid-row: 2 / span 2;
    background-color: #fff;
}

.grid-6{
    grid-row: 2 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-nvd{
    background-color: #604A7B;
    padding: 5%;
}

.c-nvd-v{
    background-color: #CCC1DA;
    padding: 5%;
}

.c-nvd h5{
    font-weight: bold;
}

.c-nvd-v h4{
    font-weight: bolder;
    color: #604A7B;
}

.grid-7{
    background-color: #fff;
    display: flex;
    align-items: center;
}

.c-sb{
    background-color: #604A7B;
    padding: 3%;
}

.c-sb-v h4{
    color: #604A7B;
    font-weight: bold;
}

.c-sb-v{
    background-color: #CCC1DA;
    padding: 1%;
}

.grid-8{
    background-color: #fff;
    display: flex;
    align-items: center;
}

.grid-8 th{
    background-color: #604A7B;
    border-bottom: #fff 1px solid;
    text-align: left;
}

.grid-8 td{
    background-color: #CCC1DA;
    border-bottom: #fff 1px solid;
    text-align: center;
    width: 20%;
}

.grid-8 td h6{
    font-weight: bold;
    color: #604A7B;
}

.grid-8 table{
    width: 100%;
}

.grid-9{
    grid-column: 5 / span 3;
    background-color: #fff;
}

.grid-10{
    grid-column: 8 / span 2;
    grid-row: 3 / span 3;
    background-color: #C3D69B;
    border-radius: 10px;
    height: 80%;
}

.grid-10 h5{
    color: #000;
}

.grid-10 table{
    margin: 10px;
}

.grid-10 .col-9{
    color: #fff;
}

.grid-11{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-igr{
    background-color: #00B050;
    padding: 5%;
}

.c-igr-v{
    background-color: #C3D69B;
    padding: 1%;
}

.c-igr-v h4{
    color: #00B050;
    font-weight: bold;
}

.grid-12{
    background-color: #fff;
    display: flex;
    align-items: center;
}

.grid-12 table{
    width: 100%;
}

.grid-12 th{
    background-color: #00B050;
    text-align: left;
    border-bottom: #fff 10px solid;
}

.grid-12 td{
    background-color: #C3D69B;
    text-align: center;
    border-bottom: #fff 10px solid;
    width: 20%;
}

.grid-12 td h6{
    font-weight: bold;
    color: #00B050;
}

.grid-13{
    background-color: #fff;
    display: flex;
    align-items: center;
}

.grid-13 table{
    width: 100%;
}

.grid-13 th{
    background-color: #00B050;
    text-align: left;
    border-bottom: #fff 10px solid;
}

.grid-13 td{
    background-color: #C3D69B;
    text-align: center;
    border-bottom: #fff 10px solid;
    width: 20%;
}

.grid-13 td h6{
    font-weight: bold;
    color: #00B050;
}

.grid-14{
    background-color: #fff;
    display: flex;
    align-items: center;
}

.grid-14 table{
    width: 100%;
}

.grid-14 th{
    background-color: #00B050;
    text-align: left;
    border-bottom: #fff 10px solid;
}

.grid-14 td{
    background-color: #C3D69B;
    text-align: center;
    border-bottom: #fff 10px solid;
    width: 20%;
}

.grid-14 td h6{
    font-weight: bold;
    color: #00B050;
}

.grid-15{
    background-color: #fff;
    display: flex;
    align-items: flex-start;
}

.grid-15 table{
    width: 100%;
}

.grid-15 th{
    background-color: #00B050;
    text-align: left;
    border-bottom: #fff 10px solid;
}

.grid-15 td{
    background-color: #C3D69B;
    text-align: center;
    border-bottom: #fff 10px solid;
    width: 20%;
}

.grid-15 td h6{
    font-weight: bold;
    color: #00B050;
}

.grid-16{
    grid-row: 4 / span 2;
    background-color: #fff;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.grid-16 h4{
    color: #fff;
    font-weight: bold;
}

.grid-16 h2{
    color: #008080;
    font-weight: bolder;
}

.c-tot{
    background-color: #008080;
    padding: 50% 20% 50% 20%;
}

.c-tot-v{
    background-color: #DBEEF4;
    padding: 50% 20% 50% 20%;
}

.grid-17{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-ed{
    background-color: #C00000;
    padding: 1%;
}

.c-ed-v{
    background-color: #E6B9B8;
    padding: 1%;
}

.c-ed-v h4{
    color: #C00000;
    font-weight: bold;
}

.grid-18{
    grid-column: 3 / span 2;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.grid-18 table{
    width: 100%;
}

.grid-18 th{
    background-color: #C00000;
    text-align: left;
    border-bottom: #fff 3px solid;
}

.grid-18 td{
    background-color: #E6B9B8;
    border-bottom: #fff 3px solid;
    width: 20%;
}

.grid-18 td h6{
    color: #C00000;
}

.grid-19{
    background-color: #fff;
}

.grid-19 table{
    width: 100%;
}

.grid-19 tr .tr-separado{
    border-bottom: #fff 30px solid;
}

.grid-19 th{
    background-color: #C00000;
    text-align: left;
    border-bottom: #fff 3px solid;
}

.grid-19 td{
    background-color: #E6B9B8;
    border-bottom: #fff 3px solid;
    width: 20%;
}

.grid-19 td h6{
    color: #C00000;
}

.grid-20{
    background-color: #fff;
}


.grid-20 table{
    width: 100%;
}

.grid-20 tr .tr-separado{
    border-bottom: #fff 30px solid;
}

.grid-20 th{
    background-color: #C00000;
    text-align: left;
    border-bottom: #fff 3px solid;
}

.grid-20 td{
    background-color: #E6B9B8;
    border-bottom: #fff 3px solid;
    width: 20%;
}

.grid-20 td h6{
    color: #C00000;
}

.grid-21{
    background-color: #fff;
}

.grid-21 th{
    background-color: #C00000;
}

.grid-21 td{
    background-color: #E6B9B8;
    width: 20%;
}

.grid-21 td h6{
    color: #C00000;
}

.grid-22{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-vl{
    background-color: #00B0F0;
    padding: 1%;
}

.c-vl-v{
    background-color: #79E5FF;
}

.c-vl-v h4{
    color: #00B0F0;
    font-weight: bold;
}

.grid-23{
    grid-column: 3 / span 2;
    display: flex;
    align-items: center;
}

.grid-23 table{
    width: 100%;
}

.grid-23 th{
    background-color: #00B0F0;
    text-align: left;
    border-bottom: #fff 2px solid;
}

.grid-23 td{
    background-color: #79E5FF;
    border-bottom: #fff 2px solid;
    width: 20%;
}

.grid-23 td h6{
    color: #00B0F0;
}

.grid-24{
    display: flex;
    align-items: center;
}

.grid-24 table{
    width: 100%;
}

.grid-24 th{
    background-color: #00B0F0;
    text-align: left;
}

.grid-24 td{
    background-color: #79E5FF;
    width: 20%;
}

.grid-24 td h6{
    color: #00B0F0;
}

.grid-25{
    display: flex;
    align-items: center;
}

.grid-25 table{
    width: 100%;
}

.grid-25 th{
    background-color: #00B0F0;
    text-align: left;
}

.grid-25 td{
    background-color: #79E5FF;
    width: 20%;
}

.grid-25 td h6{
    color: #00B0F0;
}
.grid-26{
    display: flex;
    align-items: center;
}

.grid-26 table{
    width: 100%;
}

.grid-26 th{
    background-color: #00B0F0;
    text-align: left;
}

.grid-26 td{
    background-color: #79E5FF;
    width: 20%;
}

.grid-26 td h6{
    color: #00B0F0;
}

.grid-27{
    background-color: #fff;
}

.grid-28{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-in{
    background-color: #4F81BD;
    padding: 1%;
}

.c-in-v{
    background-color: #BDD7EE;
    padding: 1%;
}

.c-in-v h4{
    color: #4F81BD;
    font-weight: bold;
}

.grid-29{
    grid-column: 3 / span 2;
    display: flex;
    align-items: center;
}

.grid-29 table{
    width: 100%;
}

.grid-29 th{
    background-color: #4F81BD;
    text-align: left;
    border-bottom: #fff 2px solid;
}

.grid-29 td{
    background-color: #BDD7EE;
    width: 20%;
    border-bottom: #fff 2px solid;
}

.grid-29 td h6{
    color: #4F81BD;
}

.grid-30{
    display: flex;
    align-items: center;
}

.grid-30 table{
    width: 100%;
}

.grid-30 th{
    background-color: #4F81BD;
    border-bottom: #fff 30px solid;
    text-align: left;
}

.grid-30 td{
    background-color: #bad9fd;
    border-bottom: #fff 30px solid;
    width: 20%;
}

.grid-30 td h6{
    color: #4F81BD;
}

.grid-31{
    display: flex;
    align-items: center;
}

.grid-31 table{
    width: 100%;
}

.grid-31 th{
    background-color: #4F81BD;
    border-bottom: #fff 30px solid;
    text-align: left;
}

.grid-31 td{
    background-color: #bad9fd;
    border-bottom: #fff 30px solid;
    width: 20%;
}

.grid-31 td h6{
    color: #4F81BD;
}

.grid-32{
    display: flex;
    align-items: center;
}

.grid-32 table{
    width: 100%;
}

.grid-32 th{
    background-color: #4F81BD;
    border-bottom: #fff 30px solid;
    text-align: left;
}

.grid-32 td{
    background-color: #bad9fd;
    border-bottom: #fff 30px solid;
    width: 20%;
}

.grid-32 td h6{
    color: #4F81BD;
}

.grid-33{
    display: flex;
    align-items: center;
}

.grid-33 table{
    width: 100%;
}

.grid-33 th{
    background-color: #4F81BD;
    border-bottom: #fff 30px solid;
    text-align: left;
}

.grid-33 td{
    background-color: #bad9fd;
    border-bottom: #fff 30px solid;
    width: 20%;
}

.grid-33 td h6{
    color: #4F81BD;
}

.grid-34{
    display: flex;
    align-items: center;
}

.grid-34 table{
    width: 100%;
}

.grid-34 th{
    background-color: #4F81BD;
    border-bottom: #fff 30px solid;
    text-align: left;
}

.grid-34 td{
    background-color: #bad9fd;
    border-bottom: #fff 30px solid;
    width: 20%;
}

.grid-34 td h6{
    color: #4F81BD;
}

#brecha-tot{
    background-color: #008080;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
}

#brecha-tot-v{
    background-color: #DBEEF4;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
}

.black-text{
    color: #000;
}

#th-f{
    width: 100%;
}

/* Home */
#home-text{
    font-family: Bower,Georgia,Times New Roman,serif;
}

#font-tnr{
    font-family: Bower,Georgia,Times New Roman,serif; 
    font-size: 1.6rem;
}

#bold-text{
    font-weight: bold;
}

h3{
    font-weight: bolder;
}

/* Resumen */
.grid-rsm-container > * {
    padding: 1%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid-rsm-container{
    padding-bottom: 10%;
    display: grid;
    gap: 7px;
    grid-template-columns: 25% 23% 29% auto;
    grid-template-rows: auto 10% 10% 10% 10% 10% 10% 14% 14%;
}

.grid-rsm-1{
    grid-column: 1 / span 1;
}

.grid-rsm-2{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.grid-rsm-3{
    grid-column: 4 / span 1;
}

.grid-rsm-4{
    border-radius: 15px;
    background-color: #006666ce;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-4 .col-9{
    margin-left: 20px;
    text-align: left;
}

.grid-rsm-4 h4{
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
}

.grid-rsm-4 .col-9 small{
    color: #fff;
}

.grid-rsm-5{
    grid-column: 1 / span 1;
    border-radius: 15px;
    background-color: #006666ce;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-5 .col-9{
    margin-left: 20px;
    text-align: left;
}

.grid-rsm-5 h4{
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
}

.grid-rsm-5 small{
    color: #fff;
}

.grid-rsm-6{
    grid-column: 1 / span 1;
    grid-row: 4 / span 3;
    border-radius: 15px;
    background-color: #00666680;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-6 .col-9{
    padding-left: 15px;
    text-align: left;
}

.grid-rsm-6 table{
    align-items: center;
    height: 90%;
    width: 90%;
}

.grid-rsm-6 th{
    text-align: left;
    font-weight: normal;
}

.grid-rsm-6 small{
    color: #fff;
}

.grid-rsm-6 h5{
    font-size: x-large;
}

.grid-rsm-6 h4{
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
}

.grid-rsm-6 p{
    color: #fff;
}

.grid-rsm-7{
    border-radius: 15px;
    background-color: #00666680;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-7 .col-8{
    padding-left: 15px;
    text-align: left;
}

.grid-rsm-7 h4{
    margin-bottom: 0px;
    font-weight: bold;
    color: #fff;
}

.grid-rsm-7 small{
    color: #fff;
}

.grid-rsm-8{
    grid-column: 2 / span 2;
    grid-row: 2 / span 6;
}

.grid-rsm-9{
    grid-column: 4 / span 1;
    grid-row: 2 / span 3;
    background-color: #bad9fd81;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.grid-rsm-9 .row{
    padding: 7%;
}

.grid-rsm-10{
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
}

.grid-rsm-11{
    grid-column: 4 / span 1;
    grid-row: 6 / span 5;
    background-color: #00666680;
    padding: 7%;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.grid-rsm-11 td{
    color: #fff;
}

.grid-rsm-12{
    grid-column: 1 / span 1;
    grid-row: 8 / span 2;
    background-color: #203864c9;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-12 table{
    height: 90%;   
    width: 90%;
}

.grid-rsm-12 th{
    text-align: left;
}

.grid-rsm-12 .txt{
    color: #fff;
    text-align: center;
}
.grid-rsm-12 h4{
    color: #fff;
    font-weight: bold;
}
.grid-rsm-12 td h6{
    margin-bottom: -5px;
    padding: 3px;
    text-align: center;
}

.grid-rsm-12 td small{
    font-size: small;
    color: #fff;
}

.grid-rsm-12 td{
    text-align: left;
    color: #fff;
}

.grid-rsm-13{
    grid-column: 2 / span 1;
    grid-row: 8 / span 2;
    background-color: #203864c9;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-13 table{
    height: 80%;
    width: 90%;
}

.grid-rsm-13 th{
    text-align: left;
}

.grid-rsm-13 h6{
    margin-bottom: -5px;
}

.grid-rsm-13 small{
    font-size: small;
    color: #fff;
}

.grid-rsm-13 td{
    text-align: left;
    color: #fff;
}

.grid-rsm-14{
    grid-column: 3 / span 1;
    grid-row: 8 / span 1;
    background-color: #00666680;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-14 td{
    color: #fff;
}

.grid-rsm-14 table{
    width: 100%;
}

.grid-rsm-14 th{
    text-align: left;
}

.grid-rsm-14 h5{
    padding-left: 10px;
    text-align: left;
}

.grid-rsm-14 small{
    padding-left: 10px;
    color: #fff;
    font-weight: normal;
}

.grid-rsm-15{
    grid-column: 3 / span 1;
    grid-row: 9 / span 1;
    background-color: #00666680;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
}

.grid-rsm-15 td{
    color: #fff;
}

.grid-rsm-15 table{
    width: 100%;
}

.grid-rsm-15 th{
    text-align: left;
}

.grid-rsm-15 h5{
    padding-left: 10px;
    text-align: left;
}

.grid-rsm-15 h5{
    padding-left: 10px;
    text-align: left;
}

.grid-rsm-15 small{
    padding-left: 10px;
    color: #fff;
    font-weight: normal;
}

.text-center{
    text-align: center;
}

.img-pt{
    width: auto;
    height: 100%;
}

h5,h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-weight: bold;
}

.container-fluid{
    padding: 10px 100px 10px;
}

#card {
    background-color: #006666ce;
    border-radius: 15px;
    padding: 3%;
    margin-bottom: 3px;
    color: #fff;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

#card2 {
    background-color: #00666680;
    border-radius: 15px;
    margin-bottom: 2px;
    border: #fff 1px solid;
    padding: 3%;
    color: #fff;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

#card3{
    background-color: #203864c9;
    border-radius: 15px;
    border: #fff 1px solid;
    padding: 8%;
    color: #fff;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

#card4{
    background-color: #203864c9;
    border-radius: 15px;
    margin-bottom: 2px;
    border: #fff 2px solid;
    padding: 6%;
    height: 100%;
    color: #fff;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

#card-pt {
    background-color: #00666680;
    border-radius: 15px;
    padding: 10%;
    color: #fff;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

#bg-pt-a {
    background-color: #008080;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#bg-pt-c {
    background-color: #F5E132;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#bg-pt-l {
    background-color: #BF0000;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#bg-pt-m {
    background-color: #6FA457;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#bg-pt-t {
    background-color: #F5895A;
    padding: 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


/* Map */
#map-rsm {
    position:relative;
    width:100%;
    height:100%;
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

#map-proy { 
    position:sticky;
    width:100%;
    height:420px;
    border-radius: 15px;
}

/* Cards */
#proy-card {
    border-radius: 15px;
    box-shadow: -1px 1px 7px 0px rgb(0 0 0 / 0.75);
    background-color:#bad9fd85
}

#row-map {
    width: 80%;
    margin-right: 15px;
    margin-right: auto;
}

#row-card{
    height: 100%;
    width: 20%;
    
}

#card-info {
    height: 200px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: larger;
    transition: .5s;
    align-content: center;
    display: flex;
    flex-flow: row;
}

.link:hover {
    color: #A1011F;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: initial;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: rgba(0, 0, 0, .3) !important;
    }
}

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), #17304af2), url(../img/bg-sad.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}

/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--light);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    height: calc(100% - 38px);
    transition: .5s;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item:hover {
    height: 100%;
}

.team-item .btn {
    border-radius: 38px 38px 0 0;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Calibri";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}